<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CARTAS COLECCIONABLES DE ONE PIECE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="grid-cartas"> 

    <ion-card (click)="irVerMas()">
      <ion-img src="assets/img/1imag.jpg" class="img-borde"></ion-img>
      <ion-card-content>
        <h1>Luffy y sus amigos</h1>
        <h2 class="precio">$200</h2>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="assets/img/2imag.jpg" class="img-borde"></ion-img>
      <ion-card-content>
        <h1>El rey de los piratas</h1>
        <h2 class="precio">$200</h2>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="assets/img/3imag.jpg" class="img-borde"></ion-img>
      <ion-card-content>
        <h1>El rey de los piratas</h1>
        <h2 class="precio">$200</h2>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="assets/img/4imag.jpg" class="img-borde"></ion-img>
      <ion-card-content>
        <h1>El rey de los piratas</h1>
        <h2 class="precio">$200</h2>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="assets/img/5imag.jpg" class="img-borde"></ion-img>
      <ion-card-content>
        <h1>El rey de los piratas</h1>
        <h2 class="precio">$200</h2>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="assets/img/6imag.jpg" class="img-borde"></ion-img>
      <ion-card-content>
        <h1>El rey de los piratas</h1>
        <h2 class="precio">$200</h2>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>



