<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi primera app con ionic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-img src="assets/img/vestido.png"  class="imagenes" ></ion-img>


        <ion-text color="primary">
        <h1>H1: The quick brown fox jumps over the lazy dog</h1>
        </ion-text>
      </ion-col>

      <ion-col>
         <ion-img src="assets/img/cadena.jpeg" class="imagenes" ></ion-img>
        <ion-text color="success">
        <h2>H2: The quick brown fox jumps over the lazy dog</h2>
      </ion-text>
      </ion-col>
      
    <ion-col> <ion-img src="assets/img/arete.jpeg" class="imagenes" ></ion-img></ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="warning">
        <h1>H1:  The quick brown fox jumps over the lazy dog</h1>
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text color="undefine">
        <h2>H2: The quick brown fox jumps over the lazy dog</h2>
      </ion-text>
      </ion-col>

    </ion-row>
  </ion-grid>






     <ion-text color="danger">
       <h3>H3: The quick brown fox jumps over the lazy dog</h3>
      </ion-text>


<small>Prueba small</small>
<p>
  <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text>
  I saw a werewolf with a Chinese menu in his hand. Walking through the
  <ion-text color="success"><sub>streets</sub></ion-text> of Soho in the rain. He
  <ion-text color="medium"><i>was</i></ion-text> looking for a place called Lee Ho Fook's. Gonna get a
  <ion-text color="danger">big dish of beef chow mein.</ion-text>
</p>



</ion-content>
